# Linux
DATA_PATH=/home/michal/moje_data
OUTPUT_PATH=/home/michal/moje_vysledky

# Windows WSL2 (cesta v linuxovom formáte)
DATA_PATH=/mnt/c/Users/Michal/gaussian_data
OUTPUT_PATH=/mnt/c/Users/Michal/gaussian_output
